/* CSS placeholder*/

body {
	font-family:"Helvetica";
	font-size:16px;
	background-color:#B5B5FF;
	/*Ska vi kanske ha en bakgrundsbild eller mönster? Svar: Ja. Facking frozen.*/
	color:blue;
}

nav {
	text-align:center;
}

nav li {
	font-size:1em;
	display:inline;
	padding:1em 1em;
	background-color:pink;
	font-weight:bold;
}



nav li a {
	text-decoration:none;
	color:orange;
}

nav li:hover  {
	background-color:brown;
	padding:1em 1em;
	font-size:110%;

}
nav li:active {
	background-color:green;
}

.fordamnIE {
	position: absolute;
	height: 100%;
	width: 100%;
}

.fordamnIE * {

}