/* CSS placeholder*/

/* I det vita runt om wrappern klipper vi sen in en bild, eller så kanske det redan är en bild på. När du commitar nästa gång får du ta och göra add på bildfoldern.
	Vi får dra upp nav:en till toppen och göra den till full vidd, utan mellanrum mellan knapparna, och några subtila borders. 
	Vi kan lösa våra/mina problem med positionering av nav:en genom att positionera den absolut, men om vi gör den fixed så följer den med coolt på sidan.*/

body {
	position:relative;
	height:100%;
	width:100%;
	font-family:"Helvetica";
	font-size:16px;
	/*background-color:#B5B5FF;*/
	/*Ska vi kanske ha en bakgrundsbild eller mönster? Svar: Ja. Facking frozen.*/
	color:blue; /*Så det här är varför all text är blå, trodde nog att det var någe tix med det*/
	margin: 0; /*Den här marginalen är jävligt viktigt för att det inte ska bli en ful box uppe i toppen ovanför wrappern*/
}

div#wrapper{
	/*Den här har nu getts regler för sitt egna id "wrapper", så kan vi ha fler divs där vi vill och vara specifika för den här*/
	position:relative;
	background-color:B5B5FF;
	margin-left:12em;
	margin-right:12em;
	margin-top:0em;
	padding:1em;
	height:100%; /*För en snygg design fixade jag så wrappern går hela sidan ner, fast vi kanske kan göra den lite bredare*/
	/*Bakgrunden kan vi klippa till specifikt i en bildeditor, med bara vitt där wrappern kommer vara.*/
}

nav {
	text-align:center;  
	position:fixed;
	top:0px;
	width:100%;
	/*border-color:red;
	border-width:4px;
	border-style:solid; Med den här kan du kolla hur nav:en går*/
}

nav li {
	font-size:1em;
	display:inline;
	padding:1em 1em;
	background-color:#DAB5FF;
}



nav li a {
	text-decoration:none;
	color:black;
	font-weight:bold; /*Flyttade font weight till resten av textformateringen*/
}

nav li:hover  {
	background-color:#9090CC;
	/*padding:1em 1em; Den här är helt onödig*/

}
nav li:active {
	/*background-color:green; Hur tänkte du att grön var ett bra designval? Bort med skiten*/ 
	background-color:#7373A3;
	/*En bra grej man kan göra för att få en knapp att ha "knapp-känsla" är att ha en border som vid klick blir border-style:inset*/
}


/*Alla fordamnIE-grejer är till för att serva IE-användare*/
.fordamnIE {
	position: absolute;
	height: 100%;
	width: 100%;
	background-size:cover;
	text-align:center;
	background-color:white;
}

.fordamnIE * {
	display:block;
	color:black;
}

.fordamnIE img {
	height:200;
	width:150;
}