/* CSS placeholder*/

body {
	height:100%;
	width:100%;
	font-family:"Helvetica";
	font-size:16px;
	/*background-color:#B5B5FF;*/
	/*Ska vi kanske ha en bakgrundsbild eller mönster? Svar: Ja. Facking frozen.*/
	color:blue;
}

div {
	background-color:#B5B5FF;
	margin-left:12em;
	margin-right:12em;
	padding:1em;
}

nav {
	text-align:center;
}

nav li {
	font-size:1em;
	display:inline;
	padding:1em 1em;
	background-color:#DAB5FF;
	font-weight:bold;
}



nav li a {
	text-decoration:none;
	color:black;
}

nav li:hover  {
	background-color:#9090CC;
	padding:1em 1em;

}
nav li:active {
	background-color:green;
}



.fordamnIE {
	position: absolute;
	height: 100%;
	width: 100%;
	background-size:cover;
	text-align:center;
	background-color:white;
}

.fordamnIE * {
	display:block;
	color:black;
}

.fordamnIE img {
	height:200;
	width:150;
}